@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right  ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Manage")">Hello @User.Identity.GetUserName()</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
     }
}
else
{
    <ul class="nav navbar-nav navbar-right  ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
        </li>
 </ul>
}
